#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    tune.ssl.default-dh-param 2048

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         50000000
    timeout client          50000000
    timeout server          50000000
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats :1972
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth theuser:thepasswordfortheuser

frontend microservices
    mode http
    option httplog

    bind *:443 ssl crt /etc/haproxy/haproxy-joint.pem ca-file /etc/haproxy/ca-chain.cert.pem verify required

    acl admin_interface hdr_beg(host) admin.

    use_backend admin_backend if admin_interface
    default_backend applications_backend

backend admin_backend
    mode http
    balance roundrobin
    server  dcos-master 101.0.10.102:80 check

backend applications_backend
    mode http
    balance roundrobin
    server  public-node1 101.0.10.105:80 check
    server  public-node2 101.0.10.106:80 check

